@page "/Account/Register"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using PCBuilder.Components.Account.Shared
@using PCBuilder.Model
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities

@inject UserManager<User> UserManager
@inject IUserStore<User> UserStore
@inject SignInManager<User> SignInManager
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Register</PageTitle>
<StatusMessage Message="@statusMessage" IsError="@isError" />

<EditForm OnInvalidSubmit="RegisterUser" Model="Model" FormName="registerForm">
    <DataAnnotationsValidator/>

    <div class="row">
        <div class="col-lg-6 col-12 mt-lg-1 mt-1">
            <div class="card h-100">
                <div class="card-body bg-light">
                    <h3>Register</h3>
                    <h5 class="card-title">About you</h5>
                    <div class="form-group mb-2">
                        <label for="name">Name</label>
                        <InputText id="name" class="form-control" placeholder="Name" @bind-Value="Model.Name" />
                        <div class="small">
                            <ValidationMessage For="@(() => Model!.Name)" />
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="gender">Gender</label>
                        <InputText id="gender" class="form-control" placeholder="Gender" @bind-Value="Model.Gender" />
                        <div class="small">
                            <ValidationMessage For="@(() => Model!.Gender)" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mt-1">
                    <div class="card h-100">
                        <div class="card-body bg-light d-flex flex-column">
                            <h5 class="card-title">Login details</h5>

                            <div class="form-group mb-2">
                                <label for="email">Email</label>
                                <InputText id="email" class="form-control" placeholder="you@example.com" @bind-Value="Model.Email" />
                                <div class="small">
                                    <ValidationMessage For="@(() => Model!.Email)" />
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <label for="password">Password</label>
                                <InputText id="password" type="password" class="form-control" placeholder="Password" @bind-Value="Model.Password" />
                                <div class="small">
                                    <ValidationMessage For="@(() => Model!.Password)" />
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <label for="confirm">Confirm Password</label>
                                <InputText id="confirm" type="password" class="form-control" placeholder="Confirm Password" @bind-Value="Model.ConfirmPassword" />
                                <div class="small">
                                    <ValidationMessage For="@(() => Model!.ConfirmPassword)" />
                                </div>
                            </div>
                            <div class="mt-auto mb-2">
                                <button type="submit" class="btn btn-outline-primary w-100">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    private IEnumerable<IdentityError>? identityErrors;

    [SupplyParameterFromForm]
    private RegisterModel Model { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private string? statusMessage => identityErrors is null ? null : string.Join(" ", identityErrors.Select(error => error.Description));
    private bool isError;

    public async Task RegisterUser(EditContext editContext)
    {
        var user = new User
        {
                UserName = Model.Email,
                Email = Model.Email,
                Name = Model.Name,
                Gender = Model.Gender,
        };
        var result = await UserManager.CreateAsync(user, Model.Password);

        if (!result.Succeeded)
        {
            identityErrors = result.Errors;
            isError = true;
            return;
        }
        await UserManager.AddToRoleAsync(user, "Customer");

        Logger.LogInformation("User created a new account with password.");

        var userId = await UserManager.GetUserIdAsync(user);
        await SignInManager.SignInAsync(user, isPersistent: false);
        RedirectManager.RedirectTo(ReturnUrl);
    }

    private sealed class RegisterModel
    {
        [Required(ErrorMessage = "Please enter your email.")]
        [EmailAddress(ErrorMessage = "Please enter a valid email address.")]
        public string Email { get; set; } = "";

        [Required(ErrorMessage = "Please enter a password.")]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [Required(ErrorMessage = "Please confirm your password.")]
        [DataType(DataType.Password)]
        [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";

        [Required(ErrorMessage = "Please enter your first name.")]
        public string Name { get; set; } = "";

        [Required(ErrorMessage = "Please enter your gender.")]
        public string Gender { get; set; } = "";

        [Required(ErrorMessage = "Please enter your date of birth.")]
        public int DateOfBirth { get; set; }

    }
}
